/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top : 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

.project{ 
	font-family: Helvetica;
	font-size: 14px;
	background-color: #42cbf4;
	color: #443787;

}
.jumbotron-container{
	font-family: Verdana;
}
.container-fluid{
	font-family: Georgia;
	font-size: 15px;
	background-color: #42f4eb;
}

.col-md-4{
	border: solid black;
}
.col-md-8{
	color: #8041f4
}
/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
}

.jumbotron-container {
	position: relative;
     margin-top: 50px;
     margin-bottom: 20px;
     padding: 20px;
}